
        .container-flex{
            display:flex; 
            flex-direction:row; 
            justify-content: center; 
            align-items: center;
        }
		
        
		
        h1,h2{
            color: #3a0515;
            font-family:Georgia, 'Times New Roman', Times, serif
        }
        label::before{
            content: "\266B";
        }
        img{
            border: 2px solid #3a0515;
            padding: 50px;
            margin: 50px;
            
        }
        input{
            border:none;
            border-bottom: 1px solid #3a0515;
        }
        h3{
            color:#3a0515;
        }
        .flex2{
            display: flex;
            flex-direction:column;
        }
        label{
            color:#a74462;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        article{
            text-align: center;
        }